Name: Ugesh KC  Student id:2431328

3 To - Do - Task
Please Complete all the problem listed below.
3.1 Warm Up Exercises:
1. Sorting and Subsetting:
Complete all following Task:
• Dataset for the Task: "titanic.csv"
Following task is common for all the problem:
1. Load the provided dataset and import in pandas DataFrame.
2. Check info of the DataFrame and identify following:

In [3]:
import pandas as pd
titanic = pd.read_csv("/content/drive/MyDrive/datasets/Titanic-Dataset.csv")
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Problem 1 - Sorting:
1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
head of the result.
2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.
3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

In [4]:
fare = titanic[['Fare']]
print(fare.head())
class_age = titanic[['Pclass', 'Age']]
print(class_age.head())
survived_gender = titanic[['Survived', 'Sex']]
print(survived_gender.head())

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500
   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0
   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

Problem - 2 - Subsetting:
Complete all the following Task:
Subsetting Rows:
1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare gt 100.View the printed result.
2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
first class.View the printed result.
3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female under 18. View the printed result.

In [8]:
fare_gt_100 = titanic[titanic['Fare'] > 100]
print("passengers with Fare > 100:")
print(fare_gt_100.head())
first_class = titanic[titanic['Pclass'] == 1]
print("\n passengers in first class:")
print(first_class.head())
female_under_18 = titanic[(titanic['Age'] < 18) & (titanic['Sex'] == 'female')]
print("\n female passengers under 18:")
print(female_under_18.head())

passengers with Fare > 100:
     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C

 passengers in first class:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S

 female passengers under 18:
    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

Subsetting Rows by Categorical variables:
1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
(Southampton), assigning the result to embarked c or s. View the printed result.
2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
or second class), assigning the result to first second class.View the printed result.

In [16]:
embarked_c_or_s = titanic[titanic['Embarked'].isin(['C', 'S'])]
print("\nPassengers embarked at C or S:")
print(embarked_c_or_s.head())

first_second_class = titanic[titanic['Pclass'].isin([1, 2])]
print("\nPassengers in first or second class:")
print(first_second_class.head())

Passengers embarked at C or S:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  fare_per_year  \
0      0         A/5 21171   7.2500   NaN        S       0.329545
1      0          PC 17599  71.2833   C85        C       1.875876
2      0  STON/O2. 3101282   7.9250   NaN        S       0.304808
3      0            113803  53.1000  C123        S       1.517143
4      0            373450   8.0500   NaN        S       0.230000

   fare_per_class  Fare per Year
0        2.416667       0.329545
1       71.283300       1.875876
2        2.641667       0.304808
3       53.100000       1.517143
4        2.683333       0.230000

Passengers in first or second class:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked  fare_per_year  fare_per_class  \
1       0  PC 17599  71.2833   C85        C       1.875876         71.2833
3       0    113803  53.1000  C123        S       1.517143         53.1000
6       0     17463  51.8625   E46        S       0.960417         51.8625
9       0    237736  30.0708   NaN        C       2.147914         15.0354
11      0    113783  26.5500  C103        S       0.457759         26.5500

    Fare per Year
1        1.875876
3        1.517143
6        0.960417
9        2.147914
11       0.457759

3.2 Exploratory Data Analysis Practice Exercise - 1.
Warning: Handle missing values in the Age column by filling them with the median age of

the dataset before performing the division.)

Answer the following questions from Dataset:
Which passenger had the highest fare paid relative to their age?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).
2. Subset rows where fare per year is higher than 5, assigning this to high fare age.
3. Sort high fare age by descending fare per year, assigning this to high fare age srt.
4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
5. Look at the result.

In [18]:
titanic['Age'].fillna(titanic['Age'].median(), inplace=True)
titanic['fare_per_year'] = titanic['Fare'] / titanic['Age']
high_fare_age = titanic[titanic['fare_per_year'] > 5]
high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)
result = high_fare_age_srt[['Name', 'fare_per_year']]
print(result)

                                               Name  fare_per_year
305                  Allison, Master. Hudson Trevor     164.728261
297                    Allison, Miss. Helen Loraine      75.775000
386                 Goodwin, Master. Sidney Leonard      46.900000
164                    Panula, Master. Eino Viljami      39.687500
183                       Becker, Master. Richard F      39.000000
..                                              ...            ...
348          Coutts, Master. William Loch "William"       5.300000
31   Spencer, Mrs. William Augustus (Marie Eugenie)       5.232886
205                      Strom, Miss. Telma Matilda       5.231250
813              Andersson, Miss. Ebba Iris Alfrida       5.212500
480                  Goodwin, Master. Harold Victor       5.211111

[71 rows x 2 columns]

<ipython-input-18-0906ad89d70d>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic['Age'].fillna(titanic['Age'].median(), inplace=True)

Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.
2. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult males.
3. Sort adult males by descending fare per class, assigning this to adult males srt.
4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.
5. Look at the result.

In [11]:
titanic['fare_per_class'] = titanic['Fare'] / titanic['Pclass']
adult_males = titanic[(titanic['Sex'] == 'male') & (titanic['Age'] >= 18)]
adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)
result = adult_males_srt[['Name', 'Age', 'fare_per_class']]
result

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
438                   Fortune, Mr. Mark  64.0        263.0000
27       Fortune, Mr. Charles Alexander  19.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
..                                  ...   ...             ...
806              Andrews, Mr. Thomas Jr  39.0          0.0000
481    Frost, Mr. Anthony Wood "Archie"  28.0          0.0000
413      Cunningham, Mr. Alfred Fleming  28.0          0.0000
466               Campbell, Mr. William  28.0          0.0000
271        Tornquist, Mr. William Henry  25.0          0.0000

[519 rows x 3 columns]